.header {
    grid-area: h;
    background-color: lightblue;
    height: 75px;

}
.mainlogo{
    width:50px;
    margin-left: 50px;
}
.mainlogo img {
    display: block;

}
.logoText{
    font-weight: bold;
    font-size: 25px;
}
.headerContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
}
.child-active {
    flex-basis: 50%;
}
.profileLogo{
    height:45px;
    border-radius: 50%;

}
.activitiesContainer{
    width:350px;
    height:45vh;
    padding: 0px 15px;
    overflow: auto;
    white-space: normal;
&::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 7px;
     background: #00000038;
 }
&::-webkit-scrollbar-thumb {
     border-radius: 4px;
     background-color: #595959;
 }
}
.messagesContainer{

}